html, body {
	width: 100%;
	height: 100%;
}

html, body {
	height: 100%;
	width: 100%;
}

#yoFlat {
	margin-top: 5%;
	margin-bottom: -80px;
	border: 10px #e53935 solid;
	z-index: 2;
	position: relative;
}

#h1Nombre {
	font-family: 'Lobster';
	border: 1px white solid;
	border-top: none;
	padding-top: 40px;
	z-index: 1;
}

#h1Nombre:before {
	width:33%;
	height:1px;
	display:block;
	background:white;
	content:"";
	margin-bottom: 40px;
	margin-top: -40px;
}
#h1Nombre:after {
	width:33%;
	height:1px;
	display:block;
	left: 67%;
	top:0;
	background:white;
	content:"";
	margin-bottom: 120px;
	margin-top: -110px;
	position: relative;
}